body {
	font-size: 100%;
}

html, body {
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

.navbar-header img {
	width: 7%;
	height: auto;
	margin-top: 1%;
	margin-right: 3%;
	display: inline-block;
}

.navbar-header a {
	display: inline-block;
	font-family: 'Roboto';
	color: #FFF;
	font-size: 1em;
	margin-top: 3%;
}

.container-fluid {
	color: #FFF;
	font-family: 'Roboto';
}

.container-fluid ul {
	margin-right: 10%;
}

.fullPage {
	width: 100%;
	height: 100%;
	background-size: cover;	
	position: relative;
}

#frontpage {
	background-color: #033649;
}

#intro {
	float: none;
	padding-bottom: 50%;
	padding-top: 20%;
	height: 230px;
	top: 0px!important;
	text-align: center;
	color: #FFF;
	font-family: 'Roboto';
	background-color: #031634;
}

#intro h1 {
	font-size: 7em;
}

.face {
	width: 60.8%;
	height: auto;
	float: right;
	margin-top: 2%;
	border-radius: 2%
}

.col-sm-4 {
	font-size: 1.74em;
	font-family: 'Roboto';
	margin-top: 1%;
	background-color: #E8DDCB;
	border-radius: 2%;
}

#about {
	background-color: #FAFAFA;
}

.headings {
	margin-top: 4%;
	text-align: center;
}

.expblock {
	height: 42%;
	width: 42%;
	color: #FAFAFA;
}

.expblock h2 {
	font-size: 3.5em;
	text-align: center;
}

.expblock li {
	font-size: 1.5em;
}

#work {
	background-color: #CDB380;
}

#volunteer {
	background-color: #031634;
}

#projects {
	background-color: #036564;
}

#skills {
	background-color: #033649;
}