#name {
	font-size: 72px;
	margin: auto;
	text-align: center;
	margin-top: 2%;
	padding: 10px;
	font-family: 'Roboto';
	width: 35%;
	color: #FFF;
}

#description {
	font-size: 16px;
	text-align: center;
	color: #FFF;
	margin-top: 1%;
}

#face {
	width: 20%;
	height: auto;
	display: block;
	position: relative;
	background-color: #6DBDD6;
	margin-left: 10%;
	margin-top: 5%
}

header .row,
footer .row {
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: #003366;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
	padding: 2%;
	font-size: 1.5em;
	margin: 0;
	color: #FFF;
}

.container {
	margin: 0;
	width: 100%;
}